# Porta em que o servidor Express irá escutar
PORT=3333

# URL de conexão com o banco PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vistoria_imobiliaria

# Configurações de autenticação
JWT_SECRET=uma_chave_super_secreta
JWT_EXPIRES_IN=1h

